<div class="row justify-content-center">
  <nav class="hover-nav">
    <ul>
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li><%= link_to "Projects", projects_path, class: "nav-link" %></li>
        <li><%= link_to "Resources", resources_path, class: "nav-link" %></li>
        <li><%= link_to "Beta", beta_path, class: "nav-link" %></li>
        <li><%= link_to "Contact", contact_path, class: "nav-link" %></li>
    </ul>
  </nav>
</div>
