
<div class="card-white text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1518933165971-611dbc9c412d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80); background-size: cover;">
      <h1>Resources</h1>
</div>
<div class="landing">
<div class="row d-flex flex-column justify-content-center">
  <div class="container justify-content-center col-12">
    <% if user_signed_in? && current_user.email == "contact@gheorghetarcea.com" %>
    <%= link_to "Add resource", new_resource_path, class: "btn btn-block" %>
    <% end %>
    <div class="row">
      <% @resources.each do |resource| %>
      <div class="col-sm-6 margin-box">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= resource.title %></h5>
            <img src="<%= resource.avatar %>", height="80", width="80", alt="">
            <!-- <p class="card-text"><%= resource.description %></p> -->
            <p class="card-text"><%= resource.description %></p>
            <%= link_to 'Go there', resource.url, class: 'btn float-go', target: 'new' %>
            <% if user_signed_in? && current_user.email == "contact@gheorghetarcea.com" %>
            <div class="ics">
            <%= link_to (octicon "x", :height => 24), resource_path(resource), method: :delete, data: { confirm: 'Are you sure?', class: "delete-button" } %>
            </div>
            <%= link_to 'Edit', edit_resource_path(resource), class: 'btn float-edit' %>
            <% end %>
            <p class="discipline"><%= resource.discipline %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.email == "contact@gheorghetarcea.com" %>
    <%= link_to "Add resource", new_resource_path, class: "btn btn-block mt" %>
    <% end %>
  </div>
</div>

<!--
<% @resources.each do |resource| %>
<% obj = LinkThumbnailer.generate(resource.url) %>

<% obj.images.each do |image| %>
<% unless image.nil? %>
images: <img src="<%= image.src.to_s %>" alt="">  <br>
<% end %>
<% end %>

title: <%= obj.title %> <br>
favicon: <img src="<%= obj.url + obj.favicon %>" alt="">  <br>
description: <%= obj.description %> <br>
discipline: <%= resource.discipline %> <br>
<% end %>
-->



<!--
    <div class="card-white text-center" style="position: relative;">
      <div class="d-flex justify-content-around">
        <%= octicon "alert", :height => 99 %>
        <p style="position: absolute; top: 12px;">Under construction</p>
      </div>
    </div>

    <div class="card-white text-center">
      <i class="devicon-ruby-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-rails-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-postgresql-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-javascript-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-react-original"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-heroku-original"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-bootstrap-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-html5-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-css3-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-github-plain"></i>
    </div>

    <div class="card-white text-center">
      <i class="devicon-trello-plain"></i>
    </div>

    <div class="card-white text-center">
       <i class="devicon-git-plain"></i>
    </div>



-->
</div>
